{% extends 'base.html.twig' %}

{% block title 'Administration | Modification' %}

{% block body %}
    <div class="container mt-4">
    <div class="jumbotron text-center" style="background-color: #0a0a0a; padding: 1rem 1rem">
        <h2 style="color: #FFFFFF; font-weight: bold">MODIFICATION DES LICENCES</h2>
    </div>
        {{ include ('admin/licence/_form.html.twig', {form: form, button: 'Modifier une categorie'}) }}
    </div>
    <br>
{% endblock %}