{% extends 'base.html.twig' %}

{% block title 'Administration | Création Licence' %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron text-center" style="background-color: #0a0a0a; padding: 1rem 1rem">
        <h2  style="color: #FFFFFF; font-weight: bold">Créer une nouvelle licence</h2>
        </div>
        {{ include ('admin/licence/_form.html.twig', {button: 'Enregistrer'}) }}
    </div>
    <br>
{% endblock %}
