{% extends 'base.html.twig' %}

{% block title 'Administration | Création Licence' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle licence</h1>
        {{ include ('admin/licence/_form.html.twig', {button: 'Enregistrer'}) }}
    </div>

{% endblock %}
