{% extends 'base.html.twig' %}

{% block title 'Administrations | Création Marque'%}

{% block body %}
    <div class="container mt-4">
        <h1>Création d'une nouvelle marque</h1>
        {{ include ('admin/marque/_form.html.twig', {button: 'Enregistrer'}) }}
    </div>

{% endblock %}
