{% extends 'base.html.twig' %}

{% block title 'Administration | Création Magasins' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau magasin</h1>
        {{ include ('admin/magasin/_form.html.twig', {button: 'Enregistrer'}) }}
    </div>

{% endblock %}

