<h3>Bonjour {{ app.user.nom }} {{ app.user.prenom }},</h3>

<p>
    Votre achat a bien été prise en compte. Nous vous remercions de la confiance que vous accordez à notre entreprise. Nous sommes impatients de vous revoir sur notre site !
</p>
<p>
    Récapitulatif de votre commande :
    <br>
    Numéro de facture : {{ token }}
    <br>
    Montant total : {{ total }} €
</p>
<p> Vous pouvez consulter votre facture directement dans la pièce jointe à ce mail.</p>
<br>
<br>
<p>A très bientôt !</p>
<h4>L'équipe FIGURINA</h4>


