<h3>Chère/Cher client(e),</h3>

<p> Vous êtes maintenant inscrit. Veuillez confirmer votre inscription en cliquant sur le lien  : </p>
<br>
<a href="{{ url('confirm_account', {token: token, username: username}) }}">Confirmations mon inscription </a>.
<p>
    Vous pouvez désormer effectuer vos achats sur notre site !
</p>
<br>
<br>
A très bientôt !
<h4>L'équipe FIGURINA</h4>
